body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 1s, transform 1s ease;
}

.circle:hover {
  background: salmon;
  transform: rotate(360deg);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20%;
}

/* Mario */
.mario:hover {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

/* T-Shirt */
.t-shirt:hover {
  animation: vanish 0.5s linear infinite;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Rotating Cards */
.panels {
  list-style-type: none;
  padding: 0;
}

.panels li {
  position: relative;
  width: 100px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left;
}

.panels li div {
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}

.panels div.back {
  transform: rotateY(90deg);
}

.panels div.front {
  position: absolute;
}

.panels li:hover div.front {
  animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back {
  animation: twirl 0.2s 0.2s ease-in forwards reverse;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
